
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
<header>
</header>

<body>
    <a href="create">Ajouter un produit</a>
<div class="main">

    {% for data in dataset %}.
    <br/>
    <img src={{data.Url_Image}} style="width : 50px">
    {{ data.Nom }}<br/>
    {{ data.stock }}<a> en stock</a>
    {{ data.prix }}<a>€</a><br/>
    
    <a href="update/{{product.id}}">Modifier</a>
    <a href="delete/{{product.id}}">effacer</a>
 
    {% endfor %}
 
</div>
</body>
</html>